#container{
    background-image:url('./imgs/atw-bg.gif');
    background-repeat:no-repeat;
    background-size:cover;
    width:100vw;
    height:100vh;
}
#goFS{
    margin:30px;
    width:30px;
    height:30px;
    background-size:cover;
    border:none;
    background-color:rgba(255, 255, 255, 0.1);
    background-image:url(./imgs/fs-icon.png);
    
   cursor:pointer;
}
#goFS:active{
    background-color:rgba(255, 255, 255, 0.3);
    box-shadow:0.5px 0.2px 2px rgba(243, 243, 243, 0.9);
}
@media  screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .container {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position:absolute;
    
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
      top: 100%;
      left: 0;
    }
    
  }

